
body, html {
    height: 100%; /* Ensure the full height is taken by the body */
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this to center content vertically */
}
header {
    color: black;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
header h1 {
    margin: 0;
    font-size: 1.6em;
}
header h2 {
    margin: 5px 0 0;
    font-size: 1.4em;
}
#level-select, #intermediate-screen {
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('textures/level-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#blindness-overlay{
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: transparent;
    position: fixed;
    opacity: 0.8;
    pointer-events: none;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1em;
}
#back-button {
    margin-top: 10px;
}
#intermediate-screen {
    display: none;
}
#pause-screen {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}
#level-objective, #level-modifiers {
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
#level-objective h3, #level-modifiers h3 {
    margin: 0 0 5px;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

#portalSpawn-screen {
    display: none;
    flex-direction: column;
    position: fixed; /* Ensure the pause screen is on top */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
#win-screen {
    display: none;
    flex-direction: column;
    position: fixed; /* Ensure the pause screen is on top */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}
#lose-screen {
    display: none;
    flex-direction: column;
    position: fixed; /* Ensure the pause screen is on top */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}
